<div
  class="is-flex is-flex-direction-row is-justify-content-space-evenly section-vspacing"
>
  <div class="banner-bg">
    <img class="is-square" src="../../../assets/pc/pc (5).png" alt="" />
  </div>
  <div class="custom-width">
    <h1 class="block">Sign In</h1>
    <h3 class="block">Enter your details below</h3>
    <div class="field">
      <p class="control">
        <input #email
          class="input is-rounded"
          type="email"
          placeholder="Email"
        />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input #password
          class="input is-rounded"
          type="password"
          placeholder="Password"
        />
      </p>
    </div>
    <div class="my-5">
      <button class="button is-black is-rounded is-fullwidth" (click)="onLoginBtnClick(email.value, password.value)">
        Log In
      </button>
      <h4 class="has-text-centered has-text-grey py-5">
        Don't have account? <a [routerLink]="['/signup']"><u class="has-text-grey">Sign Up</u></a>
      </h4>
    </div>
  </div>
</div>
