<div class="body-width my-5">
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="card-container has-text-centered">
        <h3 class="has-text-weight-bold">Navigation</h3>
        <div class="divider my-4"></div>
        <div class="my-2 is-justify-content-space-between" *ngFor="let dir of directories">
          <a [routerLink]="['/account', dir.link]" class="is-flex">
            <i class="{{ dir.icon }} pt-2" style="color: #000000;"></i>
            <h4 class="p-2">{{ dir.name }}</h4>
          </a>
        </div>
        <div class="my-2 is-justify-content-space-between">
          <a (click)="logout()" class="is-flex">
            <i class="fa-solid fa-right-from-bracket pt-2" style="color: #000000;"></i>
            <h4 class="p-2">Log out</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <app-order-history [show]="isActiveTab('orderHistory')"></app-order-history>
      <app-shopping-cart [show]="isActiveTab('shoppingCart')"></app-shopping-cart>
      <app-edit-profile [show]="isActiveTab('editProfile')"></app-edit-profile>
    </div>
  </div>
</div>