<div class="body-width">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="has-text-black pr-5 has-text-weight-bold">PCBUILD3R</h1>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a [routerLink]="['/shop']" class="navbar-item has-text-black">
          <h3>Shop</h3>
        </a>
        <a [routerLink]="['/company', 'about']" class="navbar-item has-text-black">
          <h3>About</h3>
        </a>
        <a [routerLink]="['/company', 'contact']" class="navbar-item has-text-black">
          <h3>Contact</h3>
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-menu" *ngIf="userEmail !== ''">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-black">
              <h4>{{ userEmail }}</h4>
            </a>
            <div class="navbar-dropdown">
              <a [routerLink]="['/account', 'orderHistory']" class="navbar-item has-text-black">
                <h4>Order History</h4>
              </a>
              <a [routerLink]="['/account', 'editProfile']" class="navbar-item has-text-black">
                <h4>Edit Profile</h4>
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <div class="pr-5 pt-2">
            <a [routerLink]="['/account', 'shoppingCart']" class="is-rounded">
              <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
            </a>
          </div>
          <ng-container *ngIf="userEmail === ''">
            <a [routerLink]="['/login']" class="pt-2 is-rounded">
              <i class="fa-solid fa-circle-user" style="color: #000000;"></i>
            </a>
          </ng-container>
          <ng-container *ngIf="userEmail !== ''">
            <a (click)="logout()" class="pt-2 is-rounded">
              <i class="fa-solid fa-arrow-right-from-bracket" style="color: #000000;"></i>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </nav>
</div>
