<div *ngIf="show" class="my-5">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box is-rounded">
        <p class="title is-5">Total Products</p>
        <p class="subtitle">{{ totalProducts }}</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title is-5">Total Users</p>
        <p class="subtitle">{{ totalUsers }}</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title is-5">Total Orders</p>
        <p class="subtitle">{{ totalOrders }}</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title is-5">Total Sales</p>
        <p class="subtitle">MYR {{ totalSales }}</p>
      </article>
    </div>
  </div>
  
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-9">
      <div class="tile">
        <div class="tile is-8 is-parent">
          <article class="tile is-child box">
            <p class="title is-5">Product Distribution</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
          </article>
        </div>
        <div class="tile is-8 is-parent">
          <article class="tile is-child box">
            <p class="title is-5">Sales Details</p>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>