<app-breadcrumb-nav *ngIf="product" [isInProductDetail]="true" [productName]="this.product.productName"></app-breadcrumb-nav>
<div class="body-width my-5">
  <div class="columns" *ngIf="product">
    <div class="column is-two-fifth">
      <div class="card-container display-container">
        <img class="img-display-size" [src]="this.product.productImage" alt="">
      </div>
    </div>
    <div class="column">
      <h2 class="block">{{ this.product.productName }}</h2>
      <div class="is-flex">
        <app-product-rating [rating]="this.product.rating.$numberDecimal"></app-product-rating>
        <h3 class="block ml-5">{{ this.product.quantity }} in stock</h3>
      </div>
      <h3 class="block">MYR {{ this.product.price.$numberDecimal }}</h3>
      <span *ngFor="let item of product.desc.split('\n')">
        <h4 class="is-size-6"><span class="has-text-weight-bold is-size-6">{{ item.split(':')[0] }}:</span>{{ item.split(':')[1] }}<br></h4>
      </span> 
      <div class="divider my-5"></div>
      <div class="columns">
        <div class="column is-one-third">
          <app-product-counter #counterComponent></app-product-counter>
        </div>
        <div class="column">
          <button type="submit" class="button is-black is-rounded is-fullwidth" [disabled]="loading"
                  (click)="addItemToCart(this.product._id)">
            <ng-container *ngIf="loading; else btnText">Adding<i class="fa-solid fa-ellipsis pl-2" style="color: white;"></i></ng-container>
            <ng-template #btnText>Add to Cart</ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="" *ngIf="product">
    <app-product-review [productId]="this.product._id"></app-product-review>
    <app-product-slideshow
      [title]="'YOU MAY ALSO LIKE'"
      [selectedProductId]="this.product._id"
      [cutWidth]="false"
      [showDivider]="false"
    >
    </app-product-slideshow>
  </div>
</div>