<div class="body-width my-5">
  <div class="columns" *ngIf="product">
    <div class="column is-two-fifth">
      <div class="card-container display-container">
        <img class="img-display-size" [src]="this.product.productImage" alt="">
      </div>
    </div>
    <div class="column">
      <h2 class="block">{{ this.product.productName }}</h2>
      <div class="is-flex">
        <app-product-rating [rating]=productRating></app-product-rating>
        <h3 class="block">{{ stockQuantity }} in stock</h3>
      </div>
      <h3 class="block">MYR {{ this.product.price.$numberDecimal }}</h3>
      <p class="block">{{ this.product.desc }}</p>
      <hr>
      <div class="columns">
        <div class="column is-one-third">
          <app-product-counter></app-product-counter>
        </div>
        <div class="column">
          <button class="button is-black is-rounded is-fullwidth">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-product-review></app-product-review>
  <app-product-slideshow
    [title]="'YOU MAY ALSO LIKE'"
    [showDivider]="false"
  >
  </app-product-slideshow>
</div>