<div *ngIf="show" class="section-vspacing">
  <div class="has-text-justified">
    <h1 class="block has-text-centered">Frequently Asked Questions</h1>
    <div *ngFor="let enquiry of enquiries; let i = index" class="block">
      <button class="accordion pl-6" (click)="expandPanel(i)"
      [ngStyle]="isPanelExpanded[i] ? {'border-radius': '50px 50px 0px 0px', 'display': 'block'} : {}">
        <div class="is-flex is-justify-content-space-between">
          <h3 class="is-size-5">{{ enquiry.question }}</h3>
          <i class="fa-solid fa-chevron-down px-5 pt-2" 
            [ngStyle]="isIconRotated[i] ? { 'transform': 'rotate(180deg)'} : {}"></i>
        </div>
      </button>
      <div class="panel p-5 pl-6" [ngStyle]="isPanelExpanded[i] ? {'display': 'block'} : {}">
        <p class="is-size-6">
          {{ enquiry.answer }}
        </p>
      </div>
    </div>
  </div>
</div>
