<div class="is-flex is-flex-direction-row has-background-primary">
  <div class="has-text-black my-auto p-6">
    <div class="block has-text-weight-bold">
      <h1 class="is-size-2">FIND HARDWARE THAT MATCHES YOUR TASTE</h1>
    </div>
    <div class="block">
      <h3 class="is-size-4">Up to 10% off Voucher</h3>
    </div>
    <div class="block">
      <p>
        Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.
      </p>
    </div>
    <button class="button is-black is-rounded">
      Play Now
    </button>
    <div class="columns py-6">
      <div class="column">
        <h1>200+</h1>
        <p>International Brands</p>
      </div>
      <div class="column">
        <h1>2,000+</h1>
        <p>High-Quality Products</p>
      </div>
      <div class="column">
        <h1>30,000+</h1>
        <p>Happy Customers</p>
      </div>
    </div>
  </div>
  <div class="intro-image">
    <img src="../../../assets/pc/pc (4).png" alt="Placeholder image">
  </div>
</div>