<div *ngIf="show" class="">
  <div class="is-flex mt-2">
    <div class="is-flex pr-2">
      <input class="input is-small is-rounded" type="text" placeholder="Search for products">
      <div class="button is-small is-rounded is-white">
        <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
      </div>
    </div>
    <button class="button is-small is-primary is-rounded" (click)="openModal()">
      <i class="fa-solid fa-plus pr-2" style="color: #000000;"></i>
      Add Product
    </button>
    <div class="modal is-active" *ngIf="isActive">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title ">Add Product</p>
          <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
          <div class="px-2">
            <div class="columns">
              <div class="column is-one-third">Product Name</div>
              <div class="column">
                <input class="input is-small" type="text" placeholder="">
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Product Category</div>
              <div class="column">
                <div class="dropdown" [class.is-active]="isDropdownActive">
                  <div class="dropdown-trigger">
                    <button class="button" (click)="toggleDropdown()" aria-haspopup="true" aria-controls="dropdown-menu3">
                      <span><h4>Most Popular</h4></span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                      <a href="#" class="dropdown-item">
                        <h4>Best Match</h4>
                      </a>
                      <a href="#" class="dropdown-item">
                        <h4>Price High to Low</h4>
                      </a>
                      <a href="#" class="dropdown-item">
                        <h4>Price Low to High</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Product Description</div>
              <div class="column">
                <textarea class="textarea" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Product Price (MYR)</div>
              <div class="column">
                <input class="input is-small" type="text" placeholder="">
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success is-rounded is-small">Save changes</button>
          <button class="button is-rounded is-small" (click)="closeModal()">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
  <div class="card-container my-5">
    <div class="columns">
      <div class="column is-one-fifth">
        <h4>Order Id</h4>
      </div>
      <div class="column is-one-fifth">
        <h4>Date</h4>
      </div>
      <div class="column is-one-fifth">
        <h4>Total</h4>
      </div>
      <div class="column">
        <h4>Status</h4>
      </div>
      <div class="column">
        <h4>Action</h4>
      </div>
    </div>
    <div class="divider"></div>
    <div class="columns mt-2" *ngFor="let i of getNumberArray(10); let index = index">
      <div class="column">
        <h4>#{{ i }}</h4>
      </div>
      <div class="column">
        <h4>4 April, 2022</h4>
      </div>
      <div class="column">
        <h4>$145 (5 Products)</h4>
      </div>
      <div class="column">
        <h4>Processing</h4>
      </div>
      <div class="column">
        <div class="is-flex">
          <button class="button is-small is-primary is-rounded">
            <i class="fa-solid fa-pen pr-2" style="color: #000000;"></i>
            Edit
          </button>
          <div class="px-5">
            <a href="">
              <i class="fa-solid fa-trash" style="color: #FF3333;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pagination></app-pagination>
</div>