<div *ngIf="show" class="">
  <div class="is-flex mt-2">
    <div class="is-flex pr-2">
      <input #searchKeyword class="input is-small is-rounded" type="text" placeholder="Search for products" (input)="productSearch(searchKeyword.value)">
      <div class="is-small is-rounded is-white">
        <i class="fa-solid fa-magnifying-glass p-2" style="color: #000000;"></i>
      </div>
    </div>
    <button class="button is-small is-primary is-rounded" (click)="openAddModal()">
      <i class="fa-solid fa-plus pr-2" style="color: #000000;"></i>
      Add Product
    </button>
    <div class="modal is-active" *ngIf="isAddModalActive">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title ">Add Product</p>
          <button class="delete" aria-label="close" (click)="closeAddModal()"></button>
        </header>
        <section class="modal-card-body">
          <div class="px-2">
            <div class="columns">
              <div class="column is-one-third">Product Image</div>
              <div class="column">
                <div class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" accept="image/*" (input)="onFileSelected($event)"/>
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">Choose a image</span>
                    </span>
                    <span *ngIf="imageUrl" class="file-name"> {{ imageName }}</span>
                  </label>
                </div>
                <img *ngIf="imageUrl" [src]="imageUrl" alt="Selected Image" class="add-img-size">
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Product Name</div>
              <div class="column">
                <input #productName class="input is-small" type="text">
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Product Category</div>
              <div class="column">
                <div class="select is-normal">
                  <select #category (change)="onCategorySelect(category.value)">
                    <option *ngFor="let category of productCategory">{{ category.productCategoryName }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Product Description</div>
              <div class="column">
                <textarea #productDes class="textarea is-small"></textarea>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Product Price (MYR)</div>
              <div class="column">
                <input #productPrice class="input is-small" type="text">
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Stock Quantity</div>
              <div class="column">
                <input #productQuantity class="input is-small" type="text">
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success is-rounded is-small" 
                  (click)="addProduct(this.selectedCategoryId, productName.value, this.imageUrl, productDes.value, productPrice.value, productQuantity.value)">
                  Save changes</button>
          <button class="button is-rounded is-small" (click)="closeAddModal()">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
  <div class="card-container my-5">
    <div class="columns">
      <div class="column">
        <h4>Id</h4>
      </div>
      <div class="column">
        <h4>Image (Preview)</h4>
      </div>
      <div class="column">
        <h4>Name</h4>
      </div>
      <div class="column">
        <h4>Category</h4>
      </div>
      <div class="column">
        <h4>Description</h4>
      </div>
      <div class="column">
        <h4>Price</h4>
      </div>
      <div class="column">
        <h4>Stock Quantity</h4>
      </div>
      <div class="column">
        <h4>Action</h4>
      </div>
    </div>
    <div class="divider"></div>
    <div class="columns mt-2" *ngFor="let product of products">
      <div class="column">
        <h4>{{ maskString(product._id) }}</h4>
      </div>
      <div class="column">
        <img *ngIf="product.productImage" [src]="product.productImage" alt="Selected Image" class="image is-64x64">
      </div>
      <div class="column">
        <h4>{{ product.productName }}</h4>
      </div>
      <div class="column">
        <h4>{{ categoryNameById(product._productCategoryId) }}</h4>
      </div>
      <div class="column">
        <h4>{{ product.desc }}</h4>
      </div>
      <div class="column">
        <h4>{{ product.price.$numberDecimal }}</h4>
      </div>
      <div class="column">
        <h4>{{ product.quantity }}</h4>
      </div>
      <div class="column">
        <div class="is-flex">
          <button class="button is-small is-primary is-rounded" (click)="openEditModal(product._id)">
            <i class="fa-solid fa-pen pr-2" style="color: #000000;"></i>
            Edit
          </button>
          <div class="modal is-active" *ngIf="editModalStates[product._id]">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title ">Edit Product Category</p>
                <button class="delete" aria-label="close" (click)="closeEditModal(product._id)"></button>
              </header>
              <section class="modal-card-body">
                <div class="px-2">
                  <div class="columns">
                    <div class="column is-one-third">Product Id</div>
                    <div class="column">
                      <input [(ngModel)]="product._id" class="input is-small" type="text" placeholder="" disabled="" required>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">Product Image</div>
                  <div class="column">
                    <div class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" accept="image/*" (input)="onFileSelected($event)"/>
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">Choose a image</span>
                        </span>
                        <span *ngIf="this.imageUrl" class="file-name"> {{ imageName }}</span>
                      </label>
                    </div>
                    <img *ngIf="this.imageUrl" [src]="this.imageUrl" alt="Selected Image" class="image is-64x64">
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">Product Name</div>
                  <div class="column">
                    <input [(ngModel)]="editProductName" #productName class="input is-small" type="text" required>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">Product Category</div>
                  <div class="column">
                    <div class="select is-normal">
                      <select disabled>
                        <option selected>{{ categoryNameById(product._productCategoryId) }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">Product Description</div>
                  <div class="column">
                    <textarea [(ngModel)]="editProductDesc" #productDes class="textarea is-small"></textarea>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">Product Price (MYR)</div>
                  <div class="column">
                    <input [(ngModel)]="editProductPrice" #productPrice class="input is-small" type="text" required>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-one-third">Stock Quantity</div>
                  <div class="column">
                    <input [(ngModel)]="editProductQuantity" #productQuantity class="input is-small" type="text" required>
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success is-rounded is-small" 
                      (click)="editProduct(product._id, product._productCategoryId, productName.value, onEditImage(product.productImage), 
                      productDes.value, productPrice.value, productQuantity.value)">Save changes</button>
                <button class="button is-rounded is-small" (click)="closeEditModal(product._id)">Cancel</button>
              </footer>
            </div>
          </div>
          <div class="pl-4">
            <a (click)="openDeleteModal(product._id)">
              <i class="fa-solid fa-trash" style="color: #FF3333;"></i>
            </a>
          </div>
          <div class="modal is-active" *ngIf="deleteModalStates[product._id]">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title ">Delete Product Category</p>
                <button class="delete" aria-label="close" (click)="closeDeleteModal(product._id)"></button>
              </header>
              <section class="modal-card-body">
                <div class="">
                  Are you sure to delete {{ product.productName }}?
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success is-rounded is-small" (click)="deleteProduct(product._id)">Yes</button>
                <button class="button is-rounded is-small" (click)="closeDeleteModal(product._id)">No</button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>