<div class="card rounded">
  <div class="card-image has-background-primary rounded-top">
    <figure class="image is-square m-auto">
      <img [src]="imageUrl" alt="Product card image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-6">{{ productName }}</p>
        <p class="subtitle is-6">{{ rating }}</p>
      </div>
    </div>
    <div class="content">
      <p>MYR {{ price }}</p>
    </div>
  </div>
</div>