<div class="card-outline rounded">
  <a href="productDetail/{{ productId }}">
    <div class="card-image add-img-size mx-auto my-2">
      <img [src]="imageUrl" class="p-2">
    </div>
    <div class="card-content has-background-primary rounded-bottom">
      <div class="media">
        <div class="media-content">
          <div class="title-height">
            <p class="title is-6">{{ productName }}</p>
          </div>
          <p class="subtitle is-6">{{ rating }}</p>
        </div>
      </div>
      <div class="content">
        <p>MYR {{ price }}</p>
      </div>
    </div>
  </a>
</div>