<div class="card-outline rounded">
  <a href="productDetail/{{ productId }}">
    <div class="card-image add-img-size mx-auto my-2">
      <img [src]="imageUrl" class="p-2">
    </div>
    <div class="card-content has-background-primary rounded-bottom">
      <div class="content">
        <div class="title-height">
          <p class="title is-6">{{ productName }}</p>
        </div>
        <ng-container *ngIf="rating !== undefined">
          <app-product-rating [rating]="rating"></app-product-rating>
        </ng-container>
        <ng-container *ngIf="rating === undefined">
          <app-product-rating [rating]="0"></app-product-rating>
        </ng-container>
        <p class="is-size-6">MYR {{ price }}</p>
        <p class="is-size-6">{{ quantity }} in stock</p>
      </div>
    </div>
  </a>
</div>