<div class="columns fill-height">
  <div class="column is-one-fifth has-background-primary">
    <div class="m-5 px-5">
      <h1 class="has-text-black pr-5 has-text-weight-bold">PCBUILD3R</h1>
    </div>
    <div class="m-5 px-5 is-justify-content-space-between" *ngFor="let dir of directories">
      <a [routerLink]="['/admin', dir.link]" class="is-flex" (click)="updateTitle(dir.name)">
        <i class="{{ dir.icon }} pt-2" style="color: #000000;"></i>
        <h4 class="p-2">{{ dir.name }}</h4>
      </a>
    </div>
    <div class="m-5 px-5 is-justify-content-space-between">
      <a (click)="logout()" class="is-flex">
        <i class="fa-solid fa-arrow-right-from-bracket pt-2" style="color: #000000;"></i>
        <h4 class="p-2">Log out</h4>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="m-5">
      <div class="is-flex is-justify-content-space-between">
        <h1 class="has-text-black pr-5 has-text-weight-bold">{{ currTitle }}</h1>
        <div class="is-flex">
          <h4>{{ userEmail }}</h4>
          <i class="fa-solid fa-circle-user pl-2" style="color: #000000;"></i>
        </div>
      </div>

      <app-admin-dashboard [show]="isActiveTab('dashboard')"></app-admin-dashboard>
      <app-admin-category [show]="isActiveTab('category')"></app-admin-category>
      <app-admin-product [show]="isActiveTab('product')"></app-admin-product>
      <app-admin-voucher [show]="isActiveTab('voucher')"></app-admin-voucher>
      <app-admin-order [show]="isActiveTab('order')"></app-admin-order>
      <app-admin-user [show]="isActiveTab('user')"></app-admin-user>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-one-fifth has-background-primary">
    <div class="has-text-centered has-text-grey is-size-7">PCBUILD3R ©{{ currYear }}. All Rights Reserved</div>
  </div>
</div>