<div *ngIf="show" class="section-vspacing">
  <div class="has-text-justified">
    <h1 class="block has-text-centered">PCBUILD3R's Privacy Policy</h1>
    <h3 class="block">PCBUILD3R is committed to protecting users' privacy and addressing potential privacy concems. The following information has been posted to help you, the consumer, 
      understand what private information we collect and how your information is used.
    </h3>
    <div class="block">
      <h2 class="block">Types of private information collected</h2>
      <h3>To best serve your needs, we collect the following types of information when you visit PCBUILD3R.</h3>
      <div class="content">
        <ul>
          <li>Name</li>
          <li>Email address</li>
          <li>Phone Number</li>
          <li>Payment/Billing Information</li>
        </ul>
      </div>
      <h3>You can always choose to provide less information. However, omitting some of this personal information may limit your ability to access all of the benefits 
        of our website and services. For example, we will not be able to process transactions without payment information and a billing address, or ship goods without 
        your name and mailing address</h3>
    </div>
    <div class="block">
      <h2 class="block">Automatically collected information</h2>
      <h3>We automatically collect data on how our users visit PCBUILD3R, such as your IP address, location, browser, browser language, operating system, 
        device idenüfiers, and cookies. Our website currently uses cookies to enhance its functionality. You may disable cookies in your web browser, but this may 
        limit your ability to access PCBUILD3R.</h3>
    </div>
    <div class="block">
      <h2 class="block">Policy on collecting sensitive personal information</h2>
      <h3>PCBUILD3R does not gather any of your sensitive personal information, such as your social security number, driver's license number, race, ethnicity, religion,
        health metrics, political associations, or details on your criminal background.
      </h3>
    </div>
    <div class="block">
      <h2 class="block">How the information collected is used</h2>
      <h3>We only use your personal information to help you utilize everything PCBUILD3R has to offer. This includes:</h3>
      <div class="content">
        <ul>
          <li>Creating and maintaining an account with us</li>
          <li>Completing your transactions</li>
          <li>Shipping your purchases</li>
          <li>Fulfilling customer service requests</li>
          <li>Communicating our sales and promotions</li>
          <li>Contacting you regarding updates to our company policies</li>
          <li>Making all of PCBUILD3R's services available to you in a convenient manner</li>
        </ul>
      </div>
    </div>
    <div class="block">
      <h2 class="block">Who the information is shared with</h2>
      <h3>We may share your information third parties, but only those affiliates that PCBUILD3R has fully vetted and created a partnership with. 
        The only reason we will ever share your information with affiliates is for the following purposes:</h3>
      <div class="content">
        <ul>
          <li>Processing transactions</li>
          <li>Fulfilling and delivering orders</li>
          <li>Measuring marketing and advertising performance</li>
          <li>Providing excellent customer service</li>
          <li>Issuing email and text message communications</li>
        </ul>
      </div>
    </div>
    <div class="block">
      <h2 class="block">Ability to decline to provide personal information</h2>
      <h3>You can, of course, decline to disclosure your personal information to us. However, the failure to provide us
        with pertinent information may limit your ability to fully benefit from PCBUILD3R and all of its offerings. Remember, 
        we only ask for personal information that can help us fully provide our services to our customers.
      </h3>
    </div>
    <div class="block">
      <h2 class="block">Additional questions</h2>
      <h3>If you have questions regarding this privacy policy, feel free to contact us at vincent4552&#64;gmail.com. A
        PCBUILD3R representative will respond to your privacy policy questions as soon as possible.
      </h3>
    </div>
  </div>
</div>