<div class="body-width is-flex is-flex-direction-row has-background-primary">
  <div class="has-text-black my-auto p-6">
    <div class="block has-text-weight-bold">
      <h1 class="is-size-2">FIND HARDWARE THAT MATCHES YOUR TASTE</h1>
    </div>
    <div class="block">
      <h3 class="is-size-4 has-text-weight-bold">Up to 10% off Voucher</h3>
    </div>
    <div class="block">
      <h4 class="is-size-6">
        Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.
      </h4>
    </div>
    <button class="button is-black is-rounded" [routerLink]="['/shop']">
      Shop Now
    </button>
    <div class="columns py-6" >
      <div class="column">
        <h1>10+</h1>
        <p class="is-size-6">International Brands</p>
      </div>
      <div class="column">
        <h1>100+</h1>
        <p class="is-size-6">High-Quality Products</p>
      </div>
      <div class="column">
        <h1>10+</h1>
        <p class="is-size-6">Exclusive Rewards</p>
      </div>
    </div>
  </div>
  <div class="intro-image">
    <img src="../../../../assets/images/intro-pc.png" alt="Placeholder image">
  </div>
</div>