<div *ngIf="show" class="card-container">
  <div class="columns">
    <div class="column">
    <app-wishlist-item
        [productName] = '"Gradient Graphic T-shirt"'
        [productDesc1] = '"Size: large"'
        [productDesc2] = '"Color: white"'
        [price] = "145"
      ></app-wishlist-item>
      <app-wishlist-item
        [productName] = '"Gradient Graphic T-shirt"'
        [productDesc1] = '"Size: large"'
        [productDesc2] = '"Color: white"'
        [price] = "145"
      ></app-wishlist-item>
      <app-wishlist-item
        [productName] = '"Gradient Graphic T-shirt"'
        [productDesc1] = '"Size: large"'
        [productDesc2] = '"Color: white"'
        [price] = "145"
        [islastItem] = "true"
      ></app-wishlist-item>
    </div>
  </div>
</div>
