<div *ngIf="show" class="section-vspacing">
  <div class="has-text-justified">
    <h1 class="block has-text-centered">PCBUILD3R's Terms of Use</h1>
    <div class="block">
      <h2 class="block has-text-size-5">Conditions of Use</h2>
      <h3 class="block">By using this website, you certify that you have read and review this agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this agreement,
        you are advised to leave the website accordingly. PCBUILD3R only grants use and access of the website, its products, and its services to those who have accepted this terms.
      </h3>
    </div>
    <div class="block">
      <h2 class="block has-text-size-5">Privacy Policy</h2>
      <h3 class="block">Before you continue using our website, we advise you to read our <a [routerLink]="['/help', 'privacyPolicy']">privacy policy</a> regarding our user data collection. It will help you better understand our practices.</h3>
    </div>
    <div class="block">
      <h2 class="block has-text-size-5">User Responsbilities</h2>
      <h3 class="block">By using our platform, you automatically agree to adhere to the terms and conditions outlined in this agreement.</h3>
    </div>
    <div class="block">
      <h2 class="block has-text-size-5">Intellectual Property</h2>
      <h3 class="block">Your agree all materials, products, and services provided on this website are the property of PCBUILD3R, its employees and licensors including all copyrights, trade secrets, trademarks, patents, 
        and other intellectual property. You also agree that you will not reproduce or redistribute PCBUILD3R's intellectual property in any way, including electronic, digital, or new trademark registrations.
        <br><br>
        You grant PCBUILD3R a royalty-free and non-exclusive license to display, use, copy, transmit, and broadcast the content you upload and publish. For isuses regarding intellectual property claims, you 
        should contact the company in order to come to an agreement.
      </h3>
    </div>
    <div class="block">
      <h2 class="block has-text-size-5">Prohibited Conduct</h2>
      <h3 class="block">Users are strictly prohibited from engaging in activities such as harassment, fraud, unauthorized access, or any actions that violate our community guidelines.</h3>
    </div>
    <div class="block">
      <h2 class="block has-text-size-5">Account Management</h2>
      <h3 class="block">As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining
        safety and security of your identifying information. You are also responsible for all activities that occur under your account or password. 
        <br><br>
        If you think there are any possible issues regarding the security  of your account on the website, inform us immediately so we may address it accordingly. 
        <br><br>
        We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.
      </h3>
    </div>
    <div class="block">
      <h2 class="block has-text-size-5">Dispute Resolution</h2>
      <h3 class="block">In case of disputes, PCBUILD3R outlines a resolution process to address issues efficiently.</h3>
    </div>
    <div class="block">
      <h2 class="block has-text-size-5">Limitation on Liability</h2>
      <h3 class="block">PCBUILD3R is not liable for any damages that may occur to you as a result of your misuse of our website.
        <br><br>
        PCBUILD3R reserves the right to edit, modify, and change this agreement anytime. We shall let our users know of these changes through electronic mail. This agreement is an understanding between PCBUILD3R
        and the user, and this supersedes and replaces all prior agreements regarding the use of this website.
      </h3>
    </div>
    <br>
    <div class="block">
      <h3 class="has-text-weight-bold">By using our platform, you acknowledge and agree to abide by the terms outlined in this Terms of Use agreement.</h3>
    </div>
  </div>
</div>