<div
  class="is-flex is-flex-direction-row is-justify-content-space-evenly section-vspacing"
>
  <div class="auth-banner">
    <img class="is-square" src="../../../../assets/images/auth-pc.png" alt="" />
  </div>
  <div class="auth-width">
    <h1 class="block">Create Account</h1>
    <h3 class="block">Enter your details below</h3>
    <form [formGroup]="signupForm" (submit)="onSignUpBtnClick()">
      <div class="field">
        <p class="control">
          <input formControlName="name"
            class="input is-rounded"
            placeholder="Name"
            type="text"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input formControlName="email"
            class="input is-rounded"
            placeholder="Email"
            type="email"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input formControlName="telephone"
            class="input is-rounded"
            placeholder="Telephone"
            type="text"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input formControlName="password"
            class="input is-rounded"
            placeholder="Password"
            type="password"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input formControlName="confirmPassword"
            class="input is-rounded"
            placeholder="Confirm Password"
            type="password"
          />
        </p>
      </div>
      <div class="block" *ngIf="!passwordTally">
        <p>Password must be same!</p>
      </div>
      <div class="my-5">
        <button type="submit" class="button is-black is-rounded is-fullwidth" [disabled]="signupLoading">
          <ng-container *ngIf="signupLoading; else signupText">Signing up<i class="fa-solid fa-ellipsis pl-2" style="color: white;"></i></ng-container>
          <ng-template #signupText>Sign up</ng-template>
        </button>
        <h4 class="has-text-centered has-text-grey py-5">
          Already have account? <a [routerLink]="['/login']"><u class="has-text-grey">Sign In</u></a>
        </h4>
      </div>
    </form>
  </div>
</div>
