<div
  class="is-flex is-flex-direction-row is-justify-content-space-evenly section-vspacing"
>
  <div class="banner-bg">
    <img class="is-square" src="../../../assets/pc/pc (5).png" alt="" />
  </div>
  <div class="custom-width">
    <h1 class="block">Create Account</h1>
    <h3 class="block">Enter your details below</h3>
    <div class="field">
      <p class="control">
        <input
          class="input is-large is-rounded"
          type="text"
          placeholder="Name"
        />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          class="input is-large is-rounded"
          type="email"
          placeholder="Email"
        />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          class="input is-large is-rounded"
          type="password"
          placeholder="Password"
        />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          class="input is-large is-rounded"
          type="password"
          placeholder="Confirm Password"
        />
      </p>
    </div>
    <div class="my-5">
      <button class="button is-large is-black is-rounded is-fullwidth">
        Create Account
      </button>
      <h4 class="has-text-centered has-text-grey py-5">
        Already have account? <a [routerLink]="['/login']"><u class="has-text-grey">Sign In</u></a>
      </h4>
    </div>
  </div>
</div>
