<div class="body-width has-text-centered section-vspacing">
  <h1 class="block py-2">{{ title }}</h1>
  <div class="my-2">
    <div class="is-flex">
      <a class="rounded-icon-bg my-auto" (click)="prev()">
        <i class="fa-solid fa-arrow-left pt-3" style="color: #000000;"></i>
      </a>
      <ngx-slick-carousel #slickModal="slick-carousel" 
      [config]="slideConfig">
        <div ngxSlickItem *ngFor="let product of products">
            <app-product-card
            [productId]="product._id"
            [imageUrl]="product.productImage"
            [productName]="product.productName"
            [rating]="0"
            [price]="product.price.$numberDecimal"
            ></app-product-card>
        </div>
      </ngx-slick-carousel>
      <a class="rounded-icon-bg my-auto" (click)="next()">
        <i class="fa-solid fa-arrow-right pt-3" style="color: #000000;"></i>
      </a>
    </div>
  </div>
  <button class="button is-rounded mt-5" [routerLink]="['/shop']">
    View All
  </button>
</div>
<app-divider *ngIf="showDivider"></app-divider>