<div class="divider"></div>
<div class="my-5">
  <div class="has-text-centered" *ngIf="reviews.length > 0">
    <div class="is-flex is-justify-content-space-between mb-3">
      <h3 class="">All Reviews ({{ totalReviews }})</h3>
      <div class="dropdown is-right" [class.is-active]="isDropdownActive">
        <div class="dropdown-trigger">
          <button class="button is-rounded" (click)="toggleDropdown()" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span><h4>{{ filterOption }}</h4></span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
          <div class="dropdown-content is-border-rounded">
            <a (click)="getProductReviews(productId, 'Recent')" class="dropdown-item">
              <h4>Recent</h4>
            </a>
            <a (click)="getProductReviews(productId, 'Rating: High to Low')" class="dropdown-item">
              <h4>Rating: High to Low</h4>
            </a>
            <a (click)="getProductReviews(productId, 'Rating: Low to High')" class="dropdown-item">
              <h4>Rating: Low to High</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let row of reviewChunks | paginate: { itemsPerPage: 3, currentPage: page }" class="columns">
      <div *ngFor="let review of row" class="column is-half">
        <div class="card-container has-text-left">
          <div class="p-3">
            <div class="is-flex is-justify-content-space-between">
              <app-product-rating [rating]="review.rating"></app-product-rating>
            </div>
            <div class="">
              <h3>{{ maskReview(review.username) }}</h3>
              <h4 class="block has-text-grey ">{{ review.desc }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="has-text-centered" *ngIf="reviewChunks && reviewChunks.length > 3">
      <pagination-controls class="custom-pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div class="has-text-centered py-6" *ngIf="reviews.length === 0">
    <div class="block is-size-2">
      This Product has no reviews yet!
    </div>
  </div>
</div>
