<div class="is-flex is-flex-direction-row is-justify-content-space-evenly section-vspacing">
  <div class="has-text-centered">
    <img class="black-bg" src="../../../assets/icons/delivery.png" alt="" />
    <div class="">
      <h3 class="has-text-weight-bold">FREE AND FAST DELIVERY</h3>
      <p>Free delivery for all orders over $140</p>
    </div>
  </div>
  <div class="has-text-centered">
    <img class="black-bg" src="../../../assets/icons/headset.png" alt="" />
    <div class="">
      <h3 class="has-text-weight-bold">24/7 CUSTOMER SERVICE</h3>
      <p>Friendly 24/7 customer support</p>
    </div>
  </div>
  <div class="has-text-centered">
    <img class="black-bg" src="../../../assets/icons/shield.png" alt="" />
    <div class="">
      <h3 class="has-text-weight-bold">MONEY BACK GUARANTEE</h3>
      <p>Money refund within 30 days</p>
    </div>
  </div>
</div>
