<div class="body-width mb-2" *ngIf="isSessionOngoing">
  <div class="is-flex is-justify-content-space-between">
    <button class="button is-info is-rounded has-text-black" (click)="openStepModal()">
      Step Explanation
      <i class="fa-solid fa-shoe-prints pl-2" style="color: #000000;"></i>
    </button>
    <div class="modal is-active" *ngIf="isStepModalActive">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Step {{ step }}: {{ assemblySteps[step-1].stepTitle }}</p>
          <button class="delete" aria-label="close" (click)="closeStepModal()"></button>
        </header>
        <section class="modal-card-body">
          <div class="" *ngIf="step === 2">
            <table class="table">
              <thead>
                <tr>
                  <th>Part Type</th>
                  <th>Part Name</th>
                  <th>Part Price (MYR)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let desc of assemblySteps[step-1].desc; let i = index">
                  <td>{{ partType[i] }}</td>
                  <td>{{ desc }}</td>
                  <td>{{ partPrice[i] }}</td>
                </tr>
              </tbody>
            </table>
            <h4 class="is-size-6 has-text-weight-bold mt-2" *ngIf="assemblySteps[step-1].note">Note: {{ assemblySteps[step-1].note }}</h4>
            <h4 class="is-size-6 has-text-danger mt-2" *ngIf="assemblySteps[step-1].caution">Caution: {{ assemblySteps[step-1].caution }}</h4>
          </div>
          <div class="block has-text-justified px-2" *ngIf="step ===  1 || step > 2">
            <h4 class="is-size-6" *ngFor="let desc of assemblySteps[step-1].desc">{{ desc }}</h4>
            <h4 class="is-size-6 has-text-weight-bold mt-2" *ngIf="assemblySteps[step-1].note">Note: {{ assemblySteps[step-1].note }}</h4>
            <h4 class="is-size-6 has-text-danger mt-2" *ngIf="assemblySteps[step-1].caution">Caution: {{ assemblySteps[step-1].caution }}</h4>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-rounded is-success" *ngIf="assemblySteps[step-1].wait" (click)="closeStepModal()">Noted</button>
          <button class="button is-rounded is-success" *ngIf="!assemblySteps[step-1].wait && step !== assemblySteps.length" (click)="openNextStepModal()">Proceed</button>
          <button class="button is-rounded is-success" *ngIf="step === assemblySteps.length" (click)="openPostSessionModal()">Complete</button>
          <button class="button is-rounded is-warning has-text-white" *ngIf="step === assemblySteps.length" (click)="inspectModel()">Inspect
            <i class="fa-solid fa-eye pl-2" style="color: #ffffff;"></i>
          </button>
        </footer>
      </div>
    </div>
    <button class="button is-success is-rounded mr-2 has-text-black" *ngIf="step === assemblySteps.length" (click)="openPostSessionModal()">
      Claim Reward
      <i class="fa-solid fa-gift pl-2" style="color: #000000;"></i>
    </button>
    <div class="">
      <button class="button is-warning is-rounded mr-2 has-text-black" (click)="openHelpModal()">
        Help
        <i class="fa-solid fa-info pl-2" style="color: #000000;"></i>
      </button>
      <div class="modal is-active" *ngIf="isHelpModalActive">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title ">Help</p>
            <button class="delete" aria-label="close" (click)="closeHelpModal()"></button>
          </header>
          <section class="modal-card-body">
            <div class="px-2 has-text-justified">
              <h1 class="block">Welcome to the our virtual PC building experience!</h1>
              <h4 class="block is-size is-size-6">We offer 3 types of virtual PC builds: budget, workstation, and gaming.</h4>
    
              <h4 class="block is-size is-size-6">In this session, you'll be guided through a step-by-step process ({{ this.assemblySteps.length }} steps in total) to
                assemble your chosen PC type. Our interactive interface allows you to interact with
                the components and connect them together just like in real life. You'll receive simple
                explanations at each step to help you understand the process better and ensure a smooth 
                assembly experience. However, this session does not cover the in-depth detail of assembling such as wire connection, etc.
                The primary objective is to provide brief idea on the placement of hardware components within a PC.
              </h4>
              <h4 class="block is-size is-size-6">
                As a reward for completing each session, you'll receive vouchers that you can use towards
                your next purchase or as discounts on our products and services. These vouchers are our 
                way of thanking you for participating in our virtual PC building experience and are a 
                token of appreciation for your engagement and dedication.
              </h4>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-rounded is-success" (click)="closeHelpModal()">Noted</button>
          </footer>
        </div>
      </div>
      <button class="button is-danger is-rounded has-text-black" (click)="terminateSession('/home')">
        Exit Session
        <i class="fa-solid fa-ban pl-2" style="color: #000000;"></i>
      </button>
    </div>
  </div>
</div>
<div class="">
  <canvas #rendererCanvas id="renderCanvas">
  </canvas>
  <div class="modal is-active" *ngIf="isIntroModalActive">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title ">Introduction of Virtual PC Building</p>
      </header>
      <section class="modal-card-body">
        <div class="px-2">
          <h1 class="block">Virtual PC Building</h1>
          <h4 class="block is-size-6">We offer {{ (isBudgetAvailable ? 1 : 0) + (isWorkStationAvailable ? 1 : 0) + (isGamingAvailable ? 1 : 0) }} types of virtual PC builds. Please select one:</h4>
          <div class="block">
            <table class="table">
              <thead>
                <tr>
                  <th>Build Type</th>
                  <th>Price</th>
                  <th>Performance</th>
                  <th>Upgrade</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="isBudgetAvailable">
                  <td>
                    <label class="radio">
                      <input type="radio" [(ngModel)]="buildOption" value="Budget PC" checked>
                      <span class="is-size-6 has-text-weight-bold ml-2">Budget PC</span>
                    </label>
                  </td>
                  <td>Low</td>
                  <td>Sufficient</td>
                  <td>Limited</td>
                </tr>
                <tr *ngIf="isWorkStationAvailable">
                  <td>
                    <label class="radio">
                      <input type="radio" [(ngModel)]="buildOption" value="Workstation PC">
                      <span class="is-size-6 has-text-weight-bold ml-2">Workstation PC</span>
                    </label>
                  </td>
                  <td>Medium</td>
                  <td>Moderate</td>
                  <td>Good</td>
                </tr>
                <tr *ngIf="isGamingAvailable">
                  <td>
                    <label class="radio">
                      <input type="radio" [(ngModel)]="buildOption" value="Gaming PC">
                      <span class="is-size-6 has-text-weight-bold ml-2">Gaming PC </span>
                    </label>
                  </td>
                  <td>Medium</td>
                  <td>Moderate</td>
                  <td>Good</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4 class="block is-size-6">
            Do you wish to start virtual PC building session?
          </h4>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-rounded is-success" (click)="startSession()">Yes</button>
        <button class="button is-rounded is-danger" [routerLink]="['/home']">No</button>
      </footer>
    </div>
  </div>
  <div class="modal is-active" *ngIf="isPostSessionModalActive">
    <div class="modal-background"></div>
    <div class="modal-card">
      <form [formGroup]="addReviewForm" (submit)="onSessionComplete()">
        <header class="modal-card-head">
          <p class="modal-card-title ">Completion of Virtual PC Building</p>
        </header>
        <section class="modal-card-body">
          <div class="px-2">
            <h1 class="block">Congratulations!</h1>
            <h4 class="block is-size-6">You have completed {{ this.buildOption }} build!</h4>
            <h4 class="block is-size-6">You've earned a voucher that you can use in our shop! 
              Before revealing the voucher, please leave a review on your session. Your feedback help us enhance the simulation.
            </h4>
            <div class="columns">
              <div class="column is-one-third">Rating</div>
              <div class="control mt-3 ml-3">
                <label class="radio">
                  <input type="radio" formControlName="rating" value="1">
                  1
                </label>
                <label class="radio">
                  <input type="radio" formControlName="rating" value="2">
                  2
                </label>
                <label class="radio">
                  <input type="radio" formControlName="rating" value="3">
                  3
                </label>
                <label class="radio">
                  <input type="radio" formControlName="rating" value="4">
                  4
                </label>
                <label class="radio">
                  <input type="radio" formControlName="rating" value="5">
                  5
                </label>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">Review Description</div>
              <div class="column">
                <textarea formControlName="desc" class="textarea is-small"></textarea>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-rounded is-success" type="submit">Save Changes</button>
          <button class="button is-rounded is-danger" (click)="terminateSession('/home')">Discard Progress</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal is-active" *ngIf="isVoucherModalActive">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title ">Reward Reveal</p>
      </header>
      <section class="modal-card-body">
        <div class="px-2">
          <h4 class="block is-size-6">
            Voucher Key Earned: <span class="has-text-weight-bold">{{ this.earnedVoucherKey }}</span>
          </h4>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-rounded is-success" (click)="terminateSession('/shop')">Shop now</button>
        <button class="button is-rounded is-danger" (click)="terminateSession('/home')">Return to homepage</button>
      </footer>
    </div>
  </div>
</div>

