<div *ngIf="show"  class="section-vspacing">
  <div class="columns">
    <div class="column p-5">
      <img src="../../../../assets/pc/pc (3).png" alt="">
    </div>
    <div class="column p-5 has-text-justified">
      <h1>Origin</h1>
      <h4>Launced in 2015, Exclusive is South Asia's premier online shopping
        makterplace with an active presense in Bangladesh. Supported
        by wide range of tailored marketing, data and service solutions,
        Exclusive has 10,500 sallers and 300 brands and serves 3
        millioons customers across the region.
        Exclusive has more than 1 Million products to offer, growing at a
        very fast. 
        Exclusive offers a diverse assotment in categories
        ranging from consumer.</h4>
    </div>
  </div>
  <div class="column is-half has-text-centered my-5 mx-auto">
    <h1>Tech Stack</h1>
    <div class="image">
      <img src="../../../../assets/icons/mean-stack.png" alt="">
    </div>
    <h4 class="has-text-justified">Launced in 2015, Exclusive is South Asia's premier online shopping
      makterplace with an active presense in Bangladesh. Supported
      by wide range of tailored marketing, data and service solutions,
      Exclusive has 10,500 sallers and 300 brands and serves 3
      millioons customers across the region.
      Exclusive has more than 1 Million products to offer, growing at a
      very fast. 
      Exclusive offers a diverse assotment in categories
      ranging from consumer.</h4>
  </div>
  <div class="column is-half has-text-centered my-5 mx-auto">
    <h1>Disclaimer</h1>
    <h4 class="has-text-justified">Launced in 2015, Exclusive is South Asia's premier online shopping
      makterplace with an active presense in Bangladesh. Supported
      by wide range of tailored marketing, data and service solutions,
      Exclusive has 10,500 sallers and 300 brands and serves 3
      millioons customers across the region.
      Exclusive has more than 1 Million products to offer, growing at a
      very fast. 
      Exclusive offers a diverse assotment in categories
      ranging from consumer.</h4>
  </div>
</div>
