<div *ngIf="show" class="card-container">
  <div class="is-flex is-justify-content-space-between">
    <div class="field">
      <p class="control">
        <input
          class="input is-rounded"
          type="text"
          placeholder="First Name"
        />
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          class="input is-rounded"
          type="text"
          placeholder="Last Name"
        />
      </p>
    </div>
  </div>
  <div class="field">
    <p class="control">
      <input
        class="input is-rounded"
        type="text"
        placeholder="Country/Region"
      />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input
        class="input is-rounded"
        type="text"
        placeholder="Street address"
      />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input
        class="input is-rounded"
        type="text"
        placeholder="Town/City"
      />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input
        class="input is-rounded"
        type="text"
        placeholder="Province"
      />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input
        class="input is-rounded"
        type="text"
        placeholder="ZIP code"
      />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input
        class="input is-rounded"
        type="email"
        placeholder="Email Address"
      />
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input
        class="input is-rounded"
        type="text"
        placeholder="Additional Information"
      />
    </p>
  </div>
  <div class="">
    <button class="button is-black is-rounded is-fullwidth">
      Save Changes
    </button>
  </div>
</div>
