@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lexend&display=swap')

$family-sans-serif: 'Lexend', sans-serif
$family-primary: $family-sans-serif

$footer-padding: 1.5rem 0rem 1rem
 
@import "palette"
@import "../node_modules/bulma/bulma"

h1, h2, h3, h4, h5, h6, p
  color: black

h1
  font-size: 1.5rem
  font-weight: 800
h2
  font-size: 1.25rem
  font-weight: 600
h3
  font-size: lrem
  font-weight: 400
h4
  font-size: 0.75rem
  font-weight: 400
p
  font-size: 0.75rem

.body-width
  max-width: 80%
  margin: auto

.section-vspacing
  margin-top: 3rem
  margin-bottom: 3rem

.divider
  height: 1px
  background-color: $primary
  margin: 5px 0px

.card-container
  padding: 20px
  border-radius: 25px
  border: 1px solid $primary

.card-outline
  border-radius: 25px
  border: 1px solid $primary

.auth-width
  width: 25rem

.auth-banner
  width: 50%
  border-radius: 50px
  padding: 2.5rem
  background-color: $primary

.item-rounded-bg
  width: 5rem
  height: 5rem
  border-radius: 12.5px
  background-color: $primary
  margin: 5px 0px

.add-img-size
  width: 200px
  height: 200px
  
.slick-slider 
  width: 88%
  margin: auto