<div *ngIf="show" class="">
  <div class="is-flex mt-2">
    <div class="is-flex pr-2">
      <input #searchKeyword class="input is-small is-rounded" type="text" placeholder="Search for User" (input)="userSearch(searchKeyword.value)">
      <div class="is-small is-rounded is-white">
        <i class="fa-solid fa-magnifying-glass p-2" style="color: #000000;"></i>
      </div>
    </div>
    <button class="button is-small is-primary is-rounded" (click)="openAddModal()">
      <i class="fa-solid fa-plus pr-2" style="color: #000000;"></i>
      Add User
    </button>
    <div class="modal is-active" *ngIf="isAddModalActive">
      <div class="modal-background"></div>
      <div class="modal-card">
        <form [formGroup]="addForm" (submit)="addUser()">
          <header class="modal-card-head">
            <p class="modal-card-title ">Add User</p>
            <button class="delete" aria-label="close" (click)="closeAddModal()"></button>
          </header>
          <section class="modal-card-body">
            <div class="px-2">
              <div class="columns">
                <div class="column is-one-third">Full Name</div>
                <div class="column">
                  <input formControlName="name" class="input is-small" type="text">
                </div>
              </div>
              <div class="columns">
                <div class="column is-one-third">Email</div>
                <div class="column">
                  <input formControlName="email" class="input is-small" type="text">
                </div>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success is-rounded is-small" 
                    type="submit">Save changes</button>
            <button class="button is-rounded is-small" (click)="closeAddModal()">Cancel</button>
          </footer>
        </form>
      </div>
    </div>
  </div>
  <div class="card-container my-5">
    <div class="columns">
      <div class="column">
        <h4>Id</h4>
      </div>
      <div class="column">
        <h4>Type</h4>
      </div>
      <div class="column">
        <h4>Name</h4>
      </div>
      <div class="column">
        <h4>Email</h4>
      </div>
      <div class="column">
        <h4>Telephone</h4>
      </div>
      <div class="column">
        <h4>Action</h4>
      </div>
    </div>
    <div class="divider"></div>
    <div class="columns mt-2" *ngFor="let user of users">
      <div class="column">
        <h4>{{ maskString(user._id) }}</h4>
      </div>
      <div class="column">
        <h4>{{ user.isAdmin? "Admin":"Customer" }}</h4>
      </div>
      <div class="column">
        <h4>{{ user.name }}</h4>
      </div>
      <div class="column">
        <h4>{{ user.email }}</h4>
      </div>
      <div class="column">
        <h4>{{ user.telephone }}</h4>
      </div>
      <div class="column">
        <div class="is-flex">
          <button class="button is-small is-primary is-rounded" (click)="openEditModal(user._id)">
            <i class="fa-solid fa-pen pr-2" style="color: #000000;"></i>
            Edit
          </button>
          <div class="modal is-active" *ngIf="editModalStates[user._id]">
            <div class="modal-background"></div>
            <div class="modal-card">
              <form [formGroup]="editForm" (submit)="editUser()">
                <header class="modal-card-head">
                  <p class="modal-card-title ">Edit User</p>
                  <button class="delete" aria-label="close" (click)="closeEditModal(user._id)"></button>
                </header>
                <section class="modal-card-body">
                  <div class="px-2">
                    <div class="columns">
                      <div class="column is-one-third">User Id</div>
                      <div class="column">
                        <input formControlName="id" class="input is-small" type="text">
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-one-third">User Type</div>
                      <div class="column">
                        <input formControlName="id" class="input is-small" type="text">
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-one-third">User name</div>
                      <div class="column">
                        <input formControlName="name" class="input is-small" type="text">
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-one-third">User email</div>
                      <div class="column">
                        <input formControlName="email" class="input is-small" type="text">
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-one-third">User telephone</div>
                      <div class="column">
                        <input formControlName="telephone" class="input is-small" type="text">
                      </div>
                    </div>
                  </div>
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-success is-rounded is-small" type="submit">Save changes</button>
                  <button class="button is-rounded is-small" (click)="closeEditModal(user._id)">Cancel</button>
                </footer>
              </form>
            </div>
          </div>
          <div class="px-5">
            <a (click)="openDeleteModal(user._id)">
              <i class="fa-solid fa-trash" style="color: #FF3333;"></i>
            </a>
          </div>
          <div class="modal is-active" *ngIf="deleteModalStates[user._id]">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title ">Delete Product User</p>
                <button class="delete" aria-label="close" (click)="closeDeleteModal(user._id)"></button>
              </header>
              <section class="modal-card-body">
                <div class="">
                  Are you sure to delete User: {{ user.name }}?
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button is-success is-rounded is-small" (click)="deleteUser(user._id)">Yes</button>
                <button class="button is-rounded is-small" (click)="closeDeleteModal(user._id)">No</button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>